<!-- <h1> @photos.count %> facebook photos</h1> -->
<%= javascript_include_tag "ammap_3.21.3.free/ammap/ammap.js" %>
<%= javascript_include_tag "map_locations.js" %>

<!-- HTML -->
<div id="maps">
  <div id="ammap" class="mapdiv" style="visibility: visible;"></div>
</div>

<div id='slider-step'></div>
<div id='slider-step-value'></div>





