<!-- <h1> @photos.count %> facebook photos</h1> -->

<!-- HTML -->
<div id="maps">
  <div id="ammap" class="mapdiv" style="visibility: visible;"></div>
</div>

<!-- amCharts includes -->
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<%= javascript_include_tag "map_locations.js" %>


